.overflow-x-auto {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.selected-menu-item {
  text-decoration: underline;
  text-decoration-color: #F45859;
}

// li {
//   clear: both;
//   display: inline-block;
//   overflow: hidden;
//   white-space: nowrap;
// }
