<section class="w-full h-full overflow-hidden mt-10">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8 xl:px-1 mt-36 -mb-[156.85px]">
    <div
      class="flex items-center justify-center w-full h-[400px] rounded-[24px] border-[1px] border-solid border-[#000000]">
      <img src="/assets/images/Full-background.png" alt="" class="w-full h-full object-cover rounded-[24px]">
    </div>
  </div>

  <div class="w-full h-[433px] bg-[#F45859] flex justify-center items-end">
    <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8 xl:px-1 mb-12">
      <h2 class="text-[36px] text-white font-semibold text-center">Order, Eat, Repeat.. Anytime, Anywhere</h2>

      <div class="flex flex-wrap justify-center items-center gap-4 mt-10">
        <img src="assets/images/appStore.svg" alt="appStore">
        <img src="assets/images/googlePaly.svg" alt="googlePaly">
      </div>
    </div>
  </div>
</section>
